<div class="col-xs-10 col-xs-offset-1 about">
	<h1>About Splurty</h1>

<p>
    Splurty is a place you can post quetos you like, or your quetos too , it can be love Quotes, Inspirational Quotes, friendship Quotes or any kind of Quotes you like and you think it would inspire people.
  </p>
  <br />
  <p>
    People have been using the noun quote as a truncation of quotation for over 100 years, and its use in less formal contexts is widespread today. Language critics have objected to this usage, however, as unduly journalistic or breezy. As such, it is best avoided in more formal situations. The Usage Panel, at least, shows more tolerance for the word as the informality of the situation increases. Thus, only 38 percent of Panelists accept the example He began the chapter with a quote from the Bible, but the percentage rises to 53 when the source of the quotation is less serious: He lightened up his talk by throwing in quotes from Marx Brothers movies.
  </p>
  
<div class="col-xs-12 col-sm-4">
    <%= image_tag '1.jpg', :class => 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Stephanie Li</h2>
    <br />
    <p>
      Hi, I am Wen Li, I am a new web developer ,I like to study and learn new things; I am a quick learner, creative person.  I like Science because I like things with high logicality. I am from China; I love travelling and explore new place and cultures, because is about learning, about crossing boundaries and mastering the fear of strangers, about making the effort to understand other cultures and thereby empowering myself. I am very open, curious and playful person. I am looking for a field where I can apply what I have learned to practical work.
    </p>
  </div>
  <br class="clear" />

  <div class="col-xs-12 col-sm-4" style="padding-top:30px;">
    <%= image_tag 'yogi.jpg', :class => 'img-responsive' %>
  </div>
  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Yogi </h2>
    <br />
    <p>
      Yogi bear is a Chinese teacher. she loves teaching people Chinese, She had many experiences on teaching preschool students learn read and write Chinese. Her dream is to open a Chinese immersive preschool in the futrue, she wants every kids can speak Chinese 
      and be a globle kids.
    </p>
  </div>
  </div>
  <br class="clear" />
<br />
<br />
<br />
<br />